asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
django-environment
filelock
gunicorn
MouseInfo
packaging
pbr
pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
setuptools
sqlparse
stevedore
tzdata
virtualenv
virtualenv-clone
virtualenvwrapper
